body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-control-sm {
    max-width: 280px;
    margin-right:10px;
    display:inline;
}

#tasks-wrapper{
    width:70%;
}

.task-simple-wrapper .list-group-item:hover{
    background-color:#dbdbdb;
}

.task-simple-wrapper a:hover{
    text-decoration:none;
}

hr {
    border-top: 1px solid #b0b0b0;
    border-bottom: 1px solid #dcdcdc;
    margin:10px 0;
}


