@using ManagementSystem.Common;
@using ManagementSystem.Web.ViewModels

@model IList<TaskViewModel>

@{
    ViewBag.Title = "Index";
}

@if (TempData["Success"] != null)
{
    <div class="panel panel-success">
        <div class="panel-heading">
            @TempData["Success"].ToString()
        </div>
    </div>
}


@{
    var rows = Math.Ceiling((double)Model.Count());
    var columns = GlobalConstants.ColumnsOnMainTaskPage;
}

<div id="tasks-wrapper">
    <h2 class="text-center">Dashboard</h2>
    @for (int row = 0; row < rows; row++)
    {
        <div class="row">
            @for (int col = 0; col < columns; col++)
            {
                var currentIndex = columns * row + col;
                if (currentIndex < Model.Count)
                {
                    <div class="col-md-6">
                        @Html.Partial("_SimpleTaskView", Model[currentIndex])
                    </div>
                }
            }
        </div>
        <br />
    }
</div>

